<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candybasket"
    android:versionCode="1"
    android:versionName="1.0.4" >
    
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    
    <!-- Intenet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <!-- Log & Volley -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- call phone -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>   
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.candybasket.app.Root"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.candybasket.app.A_00" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.A_01" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.A_02" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.A_03" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.A_04" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.A_05" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.G_01" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.A_tutorial" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.candybasket.app.CBMain"
			android:screenOrientation="portrait"
			android:theme="@style/NaviCBTitle"></activity>
        
    </application>

</manifest>
